---
import Layout from '../layouts/Layout.astro';
import ContextAlert from '../components/ContextAlert.astro';
import Markdown from '../components/Markdown.astro';

const explainer = `
Hi 👋, my name is Talal Emran. I'm a web designer and photographer. I have been doing website development for more than 10 years.
`;
---

<Layout title="Welcome to Astro.">
    <ContextAlert class="mb-8" />
    <h1 class="mb-10">Web Designer, developer, Graphic Designer and Photographer.</h1>
    <Markdown content={explainer} class="mb-10 text-lg" />
    <p>
        <a href="https://www.talalemran.com/" class="btn btn-lg sm:min-w-64" target="_blank">Go to my website</a>
    </p>
</Layout>
